---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MoneyField from "../components/MoneyField.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main
    class="mx-auto px-4 w-80 max-w-full text-white font-normal text-2xl leading-6"
  >
    <MoneyField label="Annual Income" />
    <br />

    <MoneyField label="Largest/Highest Priority Debt" />
    <br />
    <button
      class="bg-white hover:bg-gray-600 text-zinc-900 font-bold py-2 px-4 rounded-full"
      >Calculate</button
    >
  </main>
</Layout>
