<header
  class="flex justify-between items-center px-24 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto"
>
  <img
    src="/src/content/images/Calculator.png"
    width={60}
    height={60}
    alt="Calculator icon"
    class="rounded-2xl aspect-thumbnail object-cover invert"
  />
  <p class="text-white text-3xl">Budgeting App V1</p>
</header>
